# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/

# Environment
.env

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db
